@(title: String,user:User)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tables.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/versioncontrol.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <header>
            <a href="#">@title</a>
        </header>
        
        <section>
            @content
        </section>
        @footer()
    </body>
</html>
